@use'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9) 100%),
        url(../images/big_bang_Theory.png);
    background-size: cover;
    background-position: center;
    position: relative;

    @media (max-width:768px) {
        padding: 2vw;
        min-height: 0;
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.9) 100%), url(../images/the_big_bang_celular.jpg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;

    }



    &__content {
        max-width: 500px;
        margin-top: 10px;

        @media (max-width:768px) {
            margin-top: 8em;
        }

            &__branding {
                max-width: 50%;

                @media (max-width:768px) {
                    display: none;
                    margin-top: 50px;
                }

                    &__p {
                        color: variaveis.$corTextoPrincipal;
                        font-weight: 600;
                        font-size: 19px;
                        position: relative;
                        z-index: 1;
                        margin-bottom: 15px;

                        @media (max-width:768px) {
                            font-size: 18px;
                            font-weight: 400;
                            margin-bottom: 10px;
                            margin: 10px;
                        }

                        &--conf-1 {
                            display: inline-flex;
                            filter: invert(1);
                            width: 40px;
                            height: 40px;
                            padding-top: 7px;
                        }

                        &--conf-2 {
                            display: inline-flex;
                            filter: invert(1);
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }

            .button_play {
                background-color: variaveis.$corDeFundoBotaoSecundario;
                padding: 12px;
                border: none;
                cursor: pointer;

                @media (max-width:768px) {
                    margin-left: 3.9em;
                }


                &:hover {
                    background-color: #ffffff;
                }
            }
        }

        .button_list {
            background-color: #000000;
            color: #ffff;
            padding: 12px;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease;

            @media (max-width:768px) {
                margin-left: 1em;
                padding: 13px;
            }


            &:hover {
                transform: scale(1.1);
            }

        }
    